options {
    directory "/var/cache/bind";

    allow-recursion { any; };
    allow-transfer { any; };
    allow-query { any; };

    forwarders {
        1.1.1.1;
    };

    dnssec-validation yes; 

    listen-on { any; };
    listen-on-v6 { none; };
};
